.wrapper {
  margin: 0 auto;
  width: 1110px;
}
.body {
  font-family: "Poppins", sans-serif;
}
.clear::after {
  display: block;
  clear: both;
  content: "";
}
.top {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -999;
  position: relative;
}
.kiddy .wrapper {
  padding: 10px 0;
}
.kiddy .wrapper .left {
  float: left;
  width: 50%;
  margin: 9px 0;
}
.kiddy .wrapper .left a {
  text-decoration: none;
  color: #fcfafa;
  font-size: 2.7rem;
}
.kiddy .wrapper .left a span {
  color: #dc3545;
}
.kiddy .wrapper .right {
  float: right;
  width: 50%;
  margin: 16px 0;
}
.kiddy .wrapper .right .card {
  float: left;
  width: 50%;
}
.kiddy .wrapper .right .card i {
  float: left;
  width: 30px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 35px;
  color: #fdb62f;
}
.kiddy .wrapper .right .card span {
  float: left;
  font-size: 0.9rem;
  line-height: 1.2;
}
.kiddy .wrapper .right .card2 {
  float: left;
  width: 50%;
}
.kiddy .wrapper .right .card2 i {
  float: left;
  width: 30px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 35px;
  color: #fb5243;
}
.kiddy .wrapper .right .card2 span {
  float: left;
  font-size: 0.9rem;
  line-height: 1.2;
}
.home .wrapper {
  background-color: #fff;
  height: 85px;
  border-radius: 100px;
}
.home .wrapper .left {
  float: left;
  padding: 32px 0;
  box-sizing: border-box;
  margin-left: 20px;
}
.home .wrapper .left li {
  float: left;
  margin: 0 15px;
}
.home .wrapper .left li:first-child a {
  color: #dc3545;
}
.home .wrapper .left li a {
  text-decoration: none;
  color: black;
}
.home .wrapper .right {
  float: right;
  padding: 32px 0;
  box-sizing: border-box;
  margin-right: 20px;
}
.home .wrapper .right i {
  margin: 0 15px;
  color: #fb5243;
}
.fun .wrapper {
  position: relative;
  height: 651px;
}
.fun .wrapper .left {
  float: left;
  width: 50%;
  margin-top: 100px;
}
.fun .wrapper .left h6 {
  color: #fd4d40;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}
.fun .wrapper .left h3 {
  font-size: 3rem;
  line-height: 50px;
  margin-bottom: 1rem;
}
.fun .wrapper .left p {
  font-size: 18px;
  margin-bottom: 1rem;
}
.fun .wrapper .left button {
  box-sizing: border-box;
  padding: 20px 45px;
  background-color: #dc3545;
  color: #fcfafa;
  border: none;
  border-radius: 30px 0 30px 0;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 1rem;
}
.fun .wrapper .right {
  position: absolute;
  top: -200px;
  right: 0;
  float: right;
  width: 50%;
  z-index: -1;
}
.fun .wrapper .right img {
  background: none;
}
.game .wrapper {
  padding: 50px 0;
}
.game .wrapper .card {
  position: relative;
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fb5243;
}
.game .wrapper .card i {
  position: absolute;
  top: 40px;
  left: 127px;
  display: block;
  margin-top: -70px;
  width: 80px;
  height: 80px;
  background-color: #fb5243;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}
.game .wrapper .card h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2rem;
  color: white;
}
.game .wrapper .card p {
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
  color: #f7dfde;
}
.game .wrapper .card2 {
  position: relative;
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fdb62f;
}
.game .wrapper .card2 i {
  position: absolute;
  top: 40px;
  left: 127px;
  display: block;
  margin-top: -70px;
  width: 80px;
  height: 80px;
  background-color: #fdb62f;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}
.game .wrapper .card2 h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2rem;
  color: white;
}
.game .wrapper .card2 p {
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
  color: #f7dfde;
}
.game .wrapper .card3 {
  position: relative;
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #16c3b0;
}
.game .wrapper .card3 i {
  position: absolute;
  top: 40px;
  left: 127px;
  display: block;
  margin-top: -70px;
  width: 80px;
  height: 80px;
  background-color: #16c3b0;
  text-align: center;
  padding-top: 25px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  font-size: 30px;
}
.game .wrapper .card3 h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  line-height: 2rem;
  color: white;
}
.game .wrapper .card3 p {
  text-align: center;
  line-height: 25px;
  margin-bottom: 30px;
  color: #f7dfde;
}
.bring .wrapper .left {
  float: left;
  width: 50%;
}
.bring .wrapper .right {
  float: right;
  width: 50%;
  margin-top: 0;
  padding: 0 50px;
  box-sizing: border-box;
}
.bring .wrapper .right h6 {
  font-size: 1.25rem;
  color: #fb5243;
}
.bring .wrapper .right h3 {
  font-size: 1.75rem;
  line-height: 30px;
  margin-bottom: 20px;
}
.bring .wrapper .right p {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 40px;
}
.bring .wrapper .right button {
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #ffc107;
  border-radius: 30px 0 30px 0;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
}
.package {
  padding: 100px 0;
  background-color: #17a2b8;
}
.package .wrapper .title {
  text-align: center;
}
.package .wrapper .title p {
  color: #fd4d40;
  font-size: 1.25rem;
  margin-bottom: 15px;
}
.package .wrapper .title h3 {
  font-size: 2rem;
  line-height: 30px;
  margin-bottom: 30px;
  color: #fcfafa;
}
.package .wrapper .list .card {
  background-color: white;
  float: left;
  text-align: center;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.package .wrapper .list .card img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.package .wrapper .list .card p {
  color: #777;
  margin-bottom: 50px;
}
.package .wrapper .list .card h3 {
  font-size: 1.25rem;
  color: #16c3b0;
  margin-bottom: 15px;
}
.package .wrapper .list .card button {
  padding: 10px 30px;
  background-color: #dc3545;
  border: none;
  text-transform: uppercase;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 15px;
}
.package .wrapper .list .card2 {
  background-color: white;
  float: left;
  text-align: center;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.package .wrapper .list .card2 img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.package .wrapper .list .card2 p {
  color: #777;
  margin-bottom: 50px;
}
.package .wrapper .list .card2 h3 {
  font-size: 1.25rem;
  color: #71bc42;
  margin-bottom: 15px;
}
.package .wrapper .list .card2 button {
  padding: 10px 30px;
  background-color: #ffc107;
  border: none;
  text-transform: uppercase;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 15px;
}
.package .wrapper .list .card3 {
  background-color: white;
  float: left;
  text-align: center;
  width: calc(33.33% - 30px);
  margin: 15px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.package .wrapper .list .card3 img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.package .wrapper .list .card3 p {
  color: #777;
  margin-bottom: 50px;
}
.package .wrapper .list .card3 h3 {
  font-size: 1.25rem;
  color: #dc3545;
  margin-bottom: 15px;
}
.package .wrapper .list .card3 button {
  padding: 10px 30px;
  background-color: #71bc42;
  border: none;
  text-transform: uppercase;
  border-radius: 30px 0 30px 0;
  color: #fff;
  font-size: 15px;
}
.plan {
  height: 530px;
  padding-top: 50px;
}
.plan .wrapper .pricing {
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
}
.plan .wrapper .pricing h6 {
  font-size: 1.25rem;
  color: #dc3545;
}
.plan .wrapper .pricing h3 {
  font-size: 2rem;
  margin: 15px 0;
}
.plan .wrapper .pricing p {
  font-size: 16px;
  color: #777;
}
.plan .wrapper .card1 {
  float: left;
  width: calc(33.33% - 30px);
  margin: 15px;
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
}
.plan .wrapper .card1 .price {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #16c3b0;
  position: relative;
  margin-bottom: 25px;
}
.plan .wrapper .card1 .price span {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75px;
  height: 75px;
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  color: #364d59;
}
.plan .wrapper .card1 h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.plan .wrapper .card1 li {
  line-height: 35px;
}
.plan .wrapper .card1 li i {
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  color: #16c3b0;
}
.plan .wrapper .card1 button {
  text-transform: uppercase;
  padding: 15px 25px;
  margin-top: 40px;
  background-color: #16c3b0;
  border: none;
  border-radius: 30px 0 30px 0;
}
.plan .wrapper .card2 {
  float: right;
  width: calc(33.33% - 30px);
  margin: 15px;
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
}
.plan .wrapper .card2 .price {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fd4d40;
  position: relative;
  margin-bottom: 25px;
}
.plan .wrapper .card2 .price span {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75px;
  height: 75px;
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 26px;
  color: #364d59;
}
.plan .wrapper .card2 h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.plan .wrapper .card2 li {
  line-height: 35px;
}
.plan .wrapper .card2 li i {
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  color: #fd4d40;
}
.plan .wrapper .card2 button {
  text-transform: uppercase;
  padding: 15px 25px;
  margin-top: 40px;
  background-color: #fd4d40;
  border: none;
  border-radius: 30px 0 30px 0;
}
.client {
  background-color: #f6f5f5;
  padding-top: 50px;
}
.client .wrapper .topp {
  margin-bottom: 30px;
  text-align: center;
}
.client .wrapper .topp p {
  font-size: 1.25rem;
  color: #dc3545;
}
.client .wrapper .topp h3 {
  font-size: 30px;
}
.client .wrapper .middle {
  width: 760px;
  height: 252px;
  margin: 0 auto;
  background-color: #fd4d40;
  padding: 30px;
  box-sizing: border-box;
}
.client .wrapper .middle img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 40px;
}
.client .wrapper .middle .content {
  float: right;
  width: 580px;
}
.client .wrapper .middle .content h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.client .wrapper .middle .content h6 {
  font-size: 15px;
  color: #777;
  margin-bottom: 20px;
}
.client .wrapper .middle .content p {
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}
.client .wrapper .botton {
  width: 760px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  height: 200px;
}
.client .wrapper .botton .card {
  width: calc(25% - 40px);
  margin: 20px;
  text-align: center;
  float: left;
}
.client .wrapper .botton .card h3 {
  font-size: 2rem;
  color: #16c3b0;
}
.client .wrapper .botton .card li {
  line-height: 20px;
}
.life {
  background-color: #ffc107;
  height: 150px;
}
.life .wrapper .left {
  float: left;
  width: 50%;
  font-size: 40px;
  padding: 45px 0;
  box-sizing: border-box;
}
.life .wrapper .right {
  float: right;
  padding: 40px 0;
  box-sizing: border-box;
}
.life .wrapper .right button {
  padding: 16px 50px;
  box-sizing: border-box;
  background-color: #dc3545;
  border: none;
  text-transform: uppercase;
  border-radius: 30px 0 30px 0;
  font-size: 15px;
}
.about {
  background-color: #343a40;
  height: 710px;
}
.about .wrapper .sh {
  height: 450px;
  border-bottom: 1px solid #777;
}
.about .wrapper .sh .us {
  padding-top: 100px;
  width: 350px;
  float: left;
}
.about .wrapper .sh .us h3 {
  font-size: 18px;
  color: #fd4d40;
  margin-bottom: 20px;
}
.about .wrapper .sh .us p {
  font-size: 15px;
  line-height: 25px;
  color: white;
}
.about .wrapper .sh .us h4 {
  font-size: 18px;
  color: #fd4d40;
  margin: 45px 0;
}
.about .wrapper .sh .us input {
  height: 55px;
  width: 246px;
  box-sizing: border-box;
  padding-left: 15px;
  border-radius: 10px;
}
.about .wrapper .sh .us span {
  background-color: #dc3545;
  display: inline-block;
  width: 80px;
  height: 55px;
  vertical-align: top;
  border-radius: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
}
.about .wrapper .sh .us span a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 8px;
}
.about .wrapper .sh .content {
  width: 760px;
  padding-left: 220px;
  padding-top: 100px;
  box-sizing: border-box;
  float: right;
  height: 230px;
}
.about .wrapper .sh .content .card {
  float: left;
  margin-left: 100px;
}
.about .wrapper .sh .content .card h3 {
  color: #dc3545;
  font-size: 20px;
}
.about .wrapper .sh .content .card li {
  color: #fff;
  font-size: 18px;
  line-height: 35px;
}
.about .wrapper .xia li {
  color: white;
  text-align: center;
  margin-top: 35px;
}
/*# sourceMappingURL=./kiddy.css.map */